name: CI Pull Request
on:
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      algopy: ${{ steps.filter.outputs.algopy }}
      algots: ${{ steps.filter.outputs.algots }}
      pyteal: ${{ steps.filter.outputs.pyteal }}
      ts: ${{ steps.filter.outputs.ts }}
      tests: ${{ steps.filter.outputs.tests }}
      algopy-deps: ${{ steps.filter.outputs.algopy-deps }}
      algots-deps: ${{ steps.filter.outputs.algots-deps }}
      pyteal-deps: ${{ steps.filter.outputs.pyteal-deps }}
      ts-deps: ${{ steps.filter.outputs.ts-deps }}
      tests-deps: ${{ steps.filter.outputs.tests-deps }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          predicate-quantifier: 'every'
          filters: |
            algopy:
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_ts.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_pyteal.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_ts.py'
            algots:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_py.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_pyteal.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_ts.py'
            pyteal:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_py.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_ts.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_ts.py'
            ts:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_py.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_ts.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_pyteal.py'
            tests:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/**'
            algopy-deps:
              - 'projects/lib-pcg-algopy/pyproject.toml'
              - 'projects/lib-pcg-algopy/poetry.lock'
            algots-deps:
              - 'projects/lib-pcg-algots/package.json'
              - 'projects/lib-pcg-algots/package-lock.json'
            pyteal-deps:
              - 'projects/lib-pcg-pyteal/pyproject.toml'
              - 'projects/lib-pcg-pyteal/poetry.lock'
            ts-deps:
              - 'projects/lib-pcg-ts/package.json'
              - 'projects/lib-pcg-ts/package-lock.json'
            tests-deps:
              - 'projects/unified-tests/pyproject.toml'
              - 'projects/unified-tests/poetry.lock'

  lib-pcg-algopy-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-algopy.yml
    with:
      skip: ${{ needs.changes.outputs.algopy == 'false' }}
      deps: ${{ needs.changes.outputs.algopy-deps }}

  lib-pcg-algots-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-algots.yml
    with:
      skip: ${{ needs.changes.outputs.algots == 'false' }}
      deps: ${{ needs.changes.outputs.algots-deps }}

  lib-pcg-pyteal-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-pyteal.yml
    with:
      skip: ${{ needs.changes.outputs.pyteal == 'false' }}
      deps: ${{ needs.changes.outputs.pyteal-deps }}

  lib-pcg-ts-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-ts.yml
    with:
      skip: ${{ needs.changes.outputs.ts == 'false' }}
      deps: ${{ needs.changes.outputs.ts-deps }}

  lib-pcg-tests-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-tests.yml
    with:
      skip: ${{ needs.changes.outputs.tests == 'false' }}
      deps: ${{ needs.changes.outputs.tests-deps }}
