name: CI Pull Request
on:
  pull_request:

jobs:
  changes:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: read
    outputs:
      algopy: ${{ steps.filter.outputs.algopy }}
      algots: ${{ steps.filter.outputs.algots }}
      pyteal: ${{ steps.filter.outputs.pyteal }}
      ts: ${{ steps.filter.outputs.ts }}
      tests: ${{ steps.filter.outputs.tests }}
      algopy-manifest: ${{ steps.filter.outputs.algopy-manifest }}
      algopy-lockfile: ${{ steps.filter.outputs.algopy-lockfile }}
      algots-lockfile: ${{ steps.filter.outputs.algots-lockfile }}
      algots-manifest: ${{ steps.filter.outputs.algots-manifest }}
      pyteal-manifest: ${{ steps.filter.outputs.pyteal-manifest }}
      pyteal-lockfile: ${{ steps.filter.outputs.pyteal-lockfile }}
      ts-manifest: ${{ steps.filter.outputs.ts-manifest }}
      ts-lockfile: ${{ steps.filter.outputs.ts-lockfile }}
      tests-manifest: ${{ steps.filter.outputs.tests-manifest }}
      tests-lockfile: ${{ steps.filter.outputs.tests-lockfile }}
    steps:
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          predicate-quantifier: 'every'
          filters: |
            algopy:
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_ts.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_pyteal.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_ts.py'
            algots:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_py.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_pyteal.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_ts.py'
            pyteal:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_py.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_ts.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_ts.py'
            ts:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_py.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_algo_ts.py'
              - '!projects/unified-tests/smart_contracts/artifacts/lib_pcg*_test_harness_pyteal.py'
            tests:
              - '!projects/lib-pcg-algopy/**'
              - '!projects/lib-pcg-algots/**'
              - '!projects/lib-pcg-pyteal/**'
              - '!projects/lib-pcg-ts/**'
              - '!projects/unified-tests/smart_contracts/artifacts/**'
            algopy-manifest:
              - 'projects/lib-pcg-algopy/pyproject.toml'
            algopy-lockfile:
              - 'projects/lib-pcg-algopy/poetry.lock'
            algots-manifest:
              - 'projects/lib-pcg-algots/package.json'
            algots-lockfile:
              - 'projects/lib-pcg-algots/package-lock.json'
            pyteal-manifest:
              - 'projects/lib-pcg-pyteal/pyproject.toml'
            pyteal-lockfile:
              - 'projects/lib-pcg-pyteal/poetry.lock'
            ts-manifest:
              - 'projects/lib-pcg-ts/package.json'
            ts-lockfile:
              - 'projects/lib-pcg-ts/package-lock.json'
            tests-manifest:
              - 'projects/unified-tests/pyproject.toml'
            tests-lockfile:
              - 'projects/unified-tests/poetry.lock'

  lib-pcg-algopy-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-algopy.yml
    with:
      skip: ${{ needs.changes.outputs.algopy == 'false' }}
      deps: ${{ needs.changes.outputs.algopy-manifest == 'true' || needs.changes.outputs.algopy-lockfile == 'true' }}

  lib-pcg-algots-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-algots.yml
    with:
      skip: ${{ needs.changes.outputs.algots == 'false' }}
      deps: ${{ needs.changes.outputs.algots-manifest == 'true' || needs.changes.outputs.algots-lockfile == 'true' }}

  lib-pcg-pyteal-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-pyteal.yml
    with:
      skip: ${{ needs.changes.outputs.pyteal == 'false' }}
      deps: ${{ needs.changes.outputs.pyteal-manifest == 'true' || needs.changes.outputs.pyteal-lockfile == 'true' }}

  lib-pcg-ts-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-ts.yml
    with:
      skip: ${{ needs.changes.outputs.ts == 'false' }}
      deps: ${{ needs.changes.outputs.ts-manifest == 'true' || needs.changes.outputs.ts-lockfile == 'true' }}

  lib-pcg-tests-ci-validation:
    needs: changes
    uses: ./.github/workflows/validate-tests.yml
    with:
      skip: ${{ needs.changes.outputs.tests == 'false' }}
      deps: ${{ needs.changes.outputs.tests-manifest == 'true' || needs.changes.outputs.tests-lockfile == 'true' }}
