name: Validate Tests Code

on:
  workflow_call:
    inputs:
      skip:
        required: false
        default: false
        type: boolean


jobs:
  lib-pcg-tests-validate:
    if: ${{ !inputs.skip }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install poetry
        run: |
          pipx install poetry
          pipx inject poetry poetry-plugin-export

      - name: Set up Python 3.12
        uses: actions/setup-python@v5
        with:
          python-version: 3.12
          cache: poetry

      - name: Install algokit
        run: pipx install algokit

      - name: Bootstrap dependencies
        run: algokit project bootstrap all --project-name unified-tests

      - name: Audit python dependencies
        run: algokit project run audit --project-name unified-tests

      - name: Lint and format python dependencies
        run: algokit project run ci-lint --project-name unified-tests
